html {
    font-size:62.5%;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    font-family: "Open Sans";
    color: #808080;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

@import 'layout';
@import 'headernavbar';
@import './auth/signin';
@import './auth/signup';

@import 'page-title.scss';
@import 'form-fields.scss';
@import 'details.scss';

@import 'account/account.scss';
@import './account/purchase-history.scss';
@import './account/account-information.scss';

@import './shop/shop.scss';
@import './shop/shop-search-bar.scss';
@import './quantity.scss';
@import './green-price-tag.scss';
@import './shop/shop-produc.scss';
@import './shop//shop-cart.scss';
@import 'shop/cart-product.scss';

//order 
@import 'order/review.scss';
@import 'order/reviewForm.scss';
@import 'order/reviewproduct.scss';

@import 'information/payment.scss';
@import 'information/shipping.scss';
@import 'information/infoHelp.scss'